
body{
background-image: url("./Images/dairy-cattle.jpg");
background-repeat: no-repeat;
background-size: cover;
font-size: 30px;
}
:root {
    --color-dark--2: #42484d;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  .hidden {
    display: none;
  }
  .reports {
    border-radius: 1rem;
    padding: 3rem 4rem;
    color: rgb(44, 15, 15);
  }
 .container{
     height: 100px;
     width: 70px;
     margin: 100px;
 }
 .form__input{
     height: 70px;
     width: 250px;
     font-size: 50px;
     border-radius: 10px;

 }
 button{
     margin-top: 50px;
    height: 40px;
    width: 100px;
    background-color: rgb(126, 31, 19);
    border-radius: 10px;
 }
 
  .report--daily {
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
  }
  
  .report--weekly {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
  }
  
  .report--monthly {
    background-image: linear-gradient(to top left, #2b6d1e, #c5656a);
  }
  .report--yearly {
      background-image: linear-gradient(to top left, #e67490, #d1777b);
    }
  .report {
    background-color: var(--color-dark--2);
    border-radius: 5px;
    padding: 1.5rem 2.25rem;
    margin-bottom: 1.75rem;
    cursor: pointer;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.75rem 1.5rem;
  }
  